<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>fortunes</title>
  </head>
  <body>
    <h1>your future ... </h1><h2>future ... </h2><h3>future ... </h3>
    <h4>future ... </h4><h5>future ... </h5><h6>future ... </h6>
    <p><%= @fortunes %></p>
  </body>
</html>
